.listaArticulos {
    background-color: white;
    !padding: 0.5vw;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    
}

.innerdiv {
    background-color: white;
    
}

.pegadoAlBorde{
    
    padding: 0; 
    margin: 0;
    !width: 100%; 
}


.headerLista{
    background-color: #f2f2f2;
    border-bottom-color: #DDDDDD ;
    padding: 2.5vw;
}

.Paninis{
    text-decoration: none;
    color:black;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
}

.botonExpansor {
    background-color: #DDDDDD;
}

.btn-modificado{
    border-radius: 100%;
    background-color: #2ECC40;
    
}

.inner-check-out-final {
    background-color: chartreuse;
    !z-index: -1000;
    position: fixed;
    top: 40;
    height: 100px;
    text-align: center;
    
}

.fa-plus {
    color: white;
}



#masInformacion-flotante {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    text-align: center;
    position: fixed;
    top: 100px;
    left: 25%;
    width: 50%;
    height: 70%;
    margin: auto;
    background-color: white;
    z-index: -550;
    border-radius: 5%;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    
}

#masInformacion-flotante .container{
    height: 80%;
    padding-top: 10px;
    background-color: white;
    text-align: center;
    
}



