.listaArticulos {
    background-color: white;
    padding: 0.5vw;
    width: 80%;
    text-align: center;
    
    
}

.innerdiv {
    background-color: white;
    
}

.pegadoAlBorde{
    
    padding: 0; 
    margin: 0;
    !width: 100%; 
}

.headerLista{
    
}

.headerLista{
    background-color: #f2f2f2;
    background-size: cover;
    border-bottom-color: #DDDDDD ;
    padding: 2.5vw;
}

.Paninis{
    text-decoration: none;
    color:black;
}

.botonExpansor {
    background-color: #DDDDDD;
}

.btn{
    border-radius: 100%;
    background-color: #2ECC40;
    
}

.inner-check-out-final {
    !z-index: -1000;
    position: fixed;
    top: 40;
    
}

.fa-plus {
    color: white;
}
